.StyledMultiSelect {
  display: flex;
  flex-direction: column;
}

.StyledMultiSelectList {
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-template-columns: 1fr 5fr;
  justify-items: start;
}

.StyledMultiSelectListItem {
  grid-column-start: 2;
  grid-column-end: 2;
}
