service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, update, delete: if request.auth.uid == userId;
      allow create: if request.auth.uid != null;
    }
    match /events/{event} {
      allow read: if true;
    }
    match /participants/{participant} {
      allow read: if request.auth.uid != null
    }
    match /participants/{participant} {
      allow write: if true;
    }
    match /permissionForms/{permissionForm} {
      allow read: if request.auth.uid != null
    }
    match /permissionForms/{permissionForm} {
      allow write: if true;
    }
    match /releaseForms/{releaseForm} {
      allow read: if request.auth.uid != null
    }
    match /releaseForms/{releaseForm} {
      allow write: if true;
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}