.YesNoExplain {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  margin-left: 5px;
}

.YesNo {
  grid-column-start: 1;
  grid-column-end: span 2;
}

.Explain {
  grid-column-start: 3;
  grid-column-end: span 2;
}
